---
import Layout from '../layouts/Layout.astro';

import Sesion from '../components/Sesion.astro';


import { db, producto,like } from 'astro:db';

const productito = await db.select().from(producto).where(
	like(producto.tipo,'teclado')
)


if (Astro.request.method == 'POST') {
		const formData = await Astro.request.formData();

    	const buscarProducto = formData.get('buscarproducto')
		if(typeof buscarProducto == 'string'){
		return Astro.redirect('/BuscarProducto?productoBuscar='+buscarProducto)
		}
	}
  



---

<Layout title="Welcome to Astro.">
	<div class="container-fluid d-flex justify-content-center">
		
		<form method="post" class="d-flex mt-3 px-5 justify-content-center">
			<input type="text" class="form-control col-10 me-3 mt-2" name="buscarproducto" id="buscarproducto" placeholder="Buscar producto">
			<input type="submit" class="btn btn-primary mt-2">
		</form>
	
</div>
	<div class=" py-4 d-flex justify-content-center">
		<div class="w-75">
			<h4 class="ms-2">Teclados</h4>
			<hr/>
		</div>	
	</div>

	<div class="container-fluid d-flex justify-content-center">

		<div class="col-10 d-flex flex-wrap justify-content-center">
			<!-- <div class="col-3 px-3">--><!-- </div>              -->	
			{
				productito.map(({ nombreProducto, descripcion,precio,img,tipo,autor,estado }) => (
				<div class="d-flex px-2 py-3">
					<a href={"/DetalleProducto?DatoProducto="+nombreProducto} title="ver datos del producto">
					<div class="card col-12" style="width: 18rem;">
						<img srcset={img} class="card-img-top" alt="...">
						
						<div class="card-body">
						<h5 class="card-title">{nombreProducto}</h5>
						
						<h4>{precio + "€"}</h4>
						</div>
					</div>
					</a>
				</div>
				
				))
			}
			
		</div>

		

	</div>
	
	<style>
		a{text-decoration: none;}
		.sombrado{
			box-shadow: 0.2rem;
		}
	</style>
	
</Layout>

